{% extends 'assinaturas_app/main.html' %}
{% block content %}


<div class="header-bar">
    <div>
        <h1 style="margin-bottom:10px;">Olá, {{request.user|title}}!</h1>
        <h3 style="margin:0">Há <i style="color:gold; font-size: 22px;">{{ativos}}</i> assinatura{{ ativos|pluralize:"s" }} ativada{{ ativos|pluralize:"s" }}.</h3>
        <p style="margin:0; color:white">E <i>{{inativos}} assinatura{{ ativos|pluralize:"s" }} desativada{{ inativos|pluralize:"s" }}</i></p>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Sair</a>
    {% else %}
    <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 10px; display: flex;">
        <input type='text' name='search-area' value="{{search_input}}">
        <input class="button" type="submit" value='Pesquisar'>
    </form>
    <a id="add-link" href="{% url 'assinatura-create' %}">&#x2b;</a>
</div>

<div class="assinatura-items-wrapper">
    {% for assinatura in assinaturas %}
    <div class="assinatura-wrapper">
        {% if assinatura.ativo %}
        <div class="assinatura-title">
            <div class="assinatura-ativo-icon"></div>
            <strong><a href="{% url 'assinatura-update' assinatura.id %}">{{assinatura}}</a></strong>
        </div>
        <a class="delete-link" href="{% url 'assinatura-delete' assinatura.id %}">&#215;</a>
        {% else %}
        <div class="assinatura-title">
            <div class="assinatura-inativo-icon"></div>
            <a href="{% url 'assinatura-update' assinatura.id %}">{{assinatura}}</a>
        </div>
        <a class="delete-link" href="{% url 'assinatura-delete' assinatura.id %}">&#215;</a>
        {% endif %}
        
    </div>
    {% empty %}
    <h4>Nenhuma assinatura encontrada.</h4>

    {% endfor %}
</div>

{% endblock content %}